.container {
    list-style: none;
    padding: 1rem;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    font-size: .9rem;
}

.step {
    display: flex;
    flex-direction: row;
    padding: .4em;
    border-radius: var(--border-radius);
    gap: .6em;
}

.step.completed {
    --color: var(--green);
    --color-secondary: var(--green-secondary);
    --color-tertiary: var(--green-tertiary);
    --color-dark: var(--green-dark);
}

.step.active {
    --color: var(--blue);
    --color-secondary: var(--blue-secondary);
    --color-tertiary: var(--blue-tertiary);
    --color-dark: var(--blue-dark);
}

.step.available {
    --color: var(--grey-100);
    --color-secondary: var(--grey-300);
    --color-tertiary: var(--grey-600);
    --color-dark: var(--grey-700);
}

.step.locked {
    --color: var(--grey-700);
    --color-secondary: var(--grey-700);
    --color-tertiary: var(--grey-700);
    --color-dark: var(--grey-700);
}

.step.interactive {
    cursor: pointer;
    transition: linear .1s;
}

.step.interactive:hover, .step:global(.hover) {
    background-color: var(--color-dark);
}

.step.locked {
    pointer-events: none;
}

.separator {
    flex-shrink: 1;
    height: 3em;
    min-height: 1em;
    margin: 0 0 0 1.9em;
    width: .2em;
}

.separator.completed {
    background-color: var(--green);
}

.separator.active {
    background-color: var(--blue);
}

.separator.available {
    background-color: var(--grey-100);
}

.separator.locked {
    background-color: var(--grey-700);
}

.separator:first-of-type {
    display: none;
}

.active .icon {
    animation: bounceIn .3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.icon {
    height: 2.8em;
    width: 2.8em;
    color: var(--color);
    border-color: var(--color);
    border-radius: 50%;
    border-style: solid;
    border-width: medium;
    background-color: var(--color-tertiary);
    transform-origin: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.completed .icon {
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
}

.locked .icon {
    background-color: transparent;
}

.icon svg {
    display: block;
    margin: auto;
    height: 1.8em!important;
    width: 1.8em!important;
}

.content {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    gap: .4em;
}

.name {
    color: var(--text);
    font-size: .9em;
}

.locked .name {
    color: var(--grey-700);
}

.status {
    font-size: .76em;
    color: var(--color-secondary);
    padding: .2em .4em;
    border-radius: .6em;
    background-color: var(--color-dark);
    width: fit-content;
}

.locked .status {
    display: none;
}

@keyframes bounceIn {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}
