.status-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .6rem;
    padding: .6rem;
    box-sizing: border-box;
}

.status-page.relative {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.status-page:not(.relative) {
    height: 100%;
    width: 100%;
}

.status-page > * {
    margin: 0 auto;
}

.icon svg {
    height: 3rem !important;
    width: auto !important;
}

.title {
    color: var(--decorator-main);
    font-size: 1.2rem;
    text-align: center;
    max-width: 30rem;
}

.content {
    color: var(--text);
    font-size: 1rem;
    text-align: justify;
    max-width: 30rem;
}
