.container {
    overflow: auto;
    z-index: var(--important-index);
    position: absolute;
    background-color: var(--background-overlay-color);
    backdrop-filter: var(--background-overlay-backdrop);
}
