name: main

on:
  merge_group:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"

jobs:
  generated-pnpm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: a-novel-kit/workflows/generic-actions/pull-bot@master
        id: app_token
        with:
          app_id: ${{ vars.DEPENDENCY_BOT_ID }}
          app_private_key: ${{ secrets.DEPENDENCY_BOT_PRIVATE_KEY }}
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: install pnpm
        shell: bash
        run: npm install -g pnpm
      - name: setup github registry
        shell: bash
        run: |
          pnpm config set "@a-novel:registry" "https://npm.pkg.github.com"
          pnpm config set "@a-novel-kit:registry" "https://npm.pkg.github.com"
          pnpm config set "//npm.pkg.github.com/:_authToken" "${{ secrets.GITHUB_TOKEN }}"
      - name: install dependencies
        shell: bash
        run: pnpm i --frozen-lockfile
      - name: pnpm
        shell: bash
        run: pnpm generate
        env:
          TOLGEE_API_KEY: ${{ secrets.TOLGEE_API_KEY }}
      - uses: a-novel-kit/workflows/generic-actions/check-changes@master
        with:
          fail_message: pnpm definitions are not up-to-date, please run 'pnpm generate' and commit the changes

  lint:
    runs-on: ubuntu-latest
    needs:
      - generated-pnpm
    permissions:
      contents: read
      packages: read
    steps:
      - uses: a-novel-kit/workflows/node-actions/lint-node@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          app_private_key: ${{ secrets.DEPENDENCY_BOT_PRIVATE_KEY }}
          app_id: ${{ vars.DEPENDENCY_BOT_ID }}

  lint-svelte:
    runs-on: ubuntu-latest
    needs:
      - generated-pnpm
    permissions:
      contents: read
      packages: read
    steps:
      - uses: a-novel-kit/workflows/node-actions/lint-node@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          app_private_key: ${{ secrets.DEPENDENCY_BOT_PRIVATE_KEY }}
          app_id: ${{ vars.DEPENDENCY_BOT_ID }}
          lint_action: check

  test:
    runs-on: ubuntu-latest
    needs:
      - lint
      - lint-svelte
    permissions:
      contents: read
      packages: read
    steps:
      - uses: a-novel-kit/workflows/node-actions/test-node@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          app_private_key: ${{ secrets.DEPENDENCY_BOT_PRIVATE_KEY }}
          app_id: ${{ vars.DEPENDENCY_BOT_ID }}

  report-codecov:
    runs-on: ubuntu-latest
    needs:
      - test
    permissions:
      contents: read
    steps:
      - uses: a-novel-kit/workflows/generic-actions/codecov@master
        with:
          codecov_token: ${{ secrets.CODECOV_TOKEN }}

  build:
    needs:
      - test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: a-novel-kit/workflows/node-actions/build-node@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          app_private_key: ${{ secrets.DEPENDENCY_BOT_PRIVATE_KEY }}
          app_id: ${{ vars.DEPENDENCY_BOT_ID }}

  build-storybook:
    needs:
      - test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: a-novel-kit/workflows/node-actions/build-node@master
        with:
          build_action: "build:storybook"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          app_private_key: ${{ secrets.DEPENDENCY_BOT_PRIVATE_KEY }}
          app_id: ${{ vars.DEPENDENCY_BOT_ID }}

  pages:
    if: github.ref == 'refs/heads/master' && success()
    needs:
      - build-storybook
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      pages: write
      id-token: write
    steps:
      - uses: a-novel-kit/workflows/github-pages-actions/publish-storybook@master
        with:
          build_path: storybook-static
          github_token: ${{ secrets.GITHUB_TOKEN }}
          app_private_key: ${{ secrets.DEPENDENCY_BOT_PRIVATE_KEY }}
          app_id: ${{ vars.DEPENDENCY_BOT_ID }}
          cmd: "build:storybook"
